// 1. FONTS
@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy Thin.otf") format("opentype");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy Xlight.otf") format("opentype");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy Light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy Medium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy SemiBold.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy XBold.otf") format("opentype");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy_VH/SVN-Gilroy Heavy.otf") format("opentype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
